.site-body {
    background: white;
    display: flex;
    align-items: center;
}

.body-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
.search-box{
    display: flex;
    width: 100%;
}
.searchField-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.search-error-message{
    height: 400px;;
}
.input-search{
    width: 400px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: var(--text-color);
  outline: none;
}
.search-btn:hover {
    background-color: var(--dark-green);
  }
.search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--dark-orange);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }

